body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;

}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.scoreboard {
    background-color: #080001;
    width: 155px;
    height: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

p.scorenumbers {
    color: #F94F6D;
    font-family: "Cursed Timer ULiL";
    font-size: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

}

.increment {
    display: flex;
    justify-content: space-around;
    width: 155px;
}

.incrementnumbers {
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    font-family: "Cursed Timer ULiL";
    size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.ng-btn {
    color: white;
    background-color: #F94F6D;
    padding: 10px 20px;
    margin: 20px auto;
    border: 2px solid #F94F6D;
    border-radius: 5px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}